#oneClose, #twoClose, #threeClose, #fourClose, #fiveClose, #sixClose, #sevenClose,
#eightClose, #nineClose, #tenClose, #elevenClose, #tweleveClose, #thirteenClose, 
#fourteenClose, #fifteenClose {
    padding-right: 24px;
}

#onelargeLightBoxImg, #twolargeLightBoxImg, #threelargeLightBoxImg, #fourlargeLightBoxImg, #fivelargeLightBoxImg, 
#sixlargeLightBoxImg, #sevenlargeLightBoxImg, #eightlargeLightBoxImg, #ninelargeLightBoxImg, #tenlargeLightBoxImg,
#elevenlargeLightBoxImg, #twelevelargeLightBoxImg, #thirteenlargeLightBoxImg, #fourteenlargeLightBoxImg,
#fifteenlargeLightBoxImg {
        width: 327px;
}

#onelargeLightBoxImg {
    height: 263px;
}

#twolargeLightBoxImg {
    height: 449px;
}

#threelargeLightBoxImg {
    height: 185px;
}

#fourlargeLightBoxImg {
    height: 406px;
}

#fourlargeLightBoxImg, #sevenlargeLightBoxImg, #twelevelargeLightBoxImg {
    height: 389px;
}

#ninelargeLightBoxImg {
    height: 433px;
}

#thirteenlargeLightBoxImg, #fourteenlargeLightBoxImg {
    height: 457px;
}

#fifteenlargeLightBoxImg {
    height: 397px;
}

@media (min-width: 768px) {

    #galleryContainer {
        height: 2840px;
    }

    #three, #five, #seven, #nine, #eleven, #tweleve, #thirteen {
        position: relative;
        bottom: 150px;
    }

     #ten {
        bottom: 345px;
    }

    #six {
        position: relative;
        bottom: 35px;
    }

    #eight {
        position: relative;
        bottom: 95px;
    }

    #ten {
        position: relative;
    }

    #eleven, #thirteen {
        bottom: 505px;
    }

    #fourteen {
        position: relative;
        bottom: 320px;
    }

    #fifteen {
        position: relative;
        bottom: 700px;
        left: 365px;
    }

    #one {
        order: 1;
    }

    #two {
        order: 2;
    }

    #three {
        order: 3;
    }

    #four {
        order: 4;
    }

    #five {
        order: 5;
    }

    #six {
        order: 6;
    }

    #seven {
        order: 7;
    }

    #eight {
        order: 8;
    }

    #nine {
        order: 9;
    }

    #ten {
        order: 10;
    }

    #eleven {
        order: 12;
    }

    #tweleve {
        order: 11;
    }

    #thirteen {
        order: 14;
    }

    #fourteen {
        order: 13;
    }

    #fifteen {
        order: 15;
    }

    #onefooter #lineContainer #darkLine {
        width: 6.6% !important;
    }

    #onefooter #lineContainer #lightLine {
        width: 93.4% !important;
    }

    #twofooter #lineContainer #darkLine {
        width: 13.2% !important;
    }

    #twofooter #lineContainer #lightLine {
        width: 86.8% !important;
    }

    #threefooter #lineContainer #darkLine {
        width: 19.8% !important;
    }

    #threefooter #lineContainer #lightLine {
        width: 80.2% !important;
    }

    #fourfooter #lineContainer #darkLine {
        width: 26.4% !important;
    }

    #fourfooter #lineContainer #lightLine {
        width: 73.6% !important;
    }

    #fivefooter #lineContainer #darkLine {
        width: 33% !important;
    }

    #fivefooter #lineContainer #lightLine {
        width: 67% !important;
    }

    #sixfooter #lineContainer #darkLine {
        width: 39.6% !important;
    }

    #sixfooter #lineContainer #lightLine {
        width: 60.4% !important;
    }

    #sevenfooter #lineContainer #darkLine {
        width: 46.2% !important;
    }

    #sevenfooter #lineContainer #lightLine {
        width: 53.8% !important;
    }

    #eightfooter #lineContainer #darkLine {
        width: 52.8% !important;
    }

    #eightfooter #lineContainer #lightLine {
        width: 47.2% !important;
    }

    #ninefooter #lineContainer #darkLine {
        width: 59.4% !important;
    }

    #ninefooter #lineContainer #lightLine {
        width: 40.6% !important;
    }

    #tenfooter #lineContainer #darkLine {
        width: 66% !important;
    }

    #tenfooter #lineContainer #lightLine {
        width: 34% !important;
    }

    #elevenfooter #lineContainer #darkLine {
        width: 72.6% !important;
    }

    #elevenfooter #lineContainer #lightLine {
        width: 34% !important;
    }

    #twelevefooter #lineContainer #darkLine {
        width: 79.2% !important;
    }

    #twelevefooter #lineContainer #lightLine {
        width: 20.8% !important;
    }

    #thirteenfooter #lineContainer #darkLine {
        width: 85.8% !important;
    }

    #thirteenfooter #lineContainer #lightLine {
        width: 14.2% !important;
    }

    #fourteenfooter #lineContainer #darkLine {
        width: 92.4% !important;
    }

    #fourteenfooter #lineContainer #lightLine {
        width: 7.6% !important;
    }

    #fifteenfooter #lineContainer #darkLine {
        width: 100% !important;
    }

    #fifteenfooter #lineContainer #lightLine {
        width: 0% !important;
    }

    #twoprofile #picOfArtist, #fiveprofile #picOfArtist, #sixprofile #picOfArtist, #eightprofile #picOfArtist {
        margin-top: 305px;
    }

    #threeprofile #picOfArtist, #fifteenprofile #picOfArtist {
        margin-top: 177px;
    }

    #sevenprofile #sevenimg #artistSection #artistWork {
        width: 431px;
    }

    #fourteenprofile #fourteenimg #artistSection #artistWork {
        width: 373px;
    }

    #fifteenprofile #fifteenimg #artistSection #artistName {
        width: 248px;
    }

    #onelargeLightBoxImg, #threelargeLightBoxImg, #sixlargeLightBoxImg, #eightlargeLightBoxImg, #tenlargeLightBoxImg,
    #elevenlargeLightBoxImg {
        width: 670px;
    }

    #onelargeLightBoxImg {
        height: 520px;
    }

    #sixlargeLightBoxImg {
        height: 589px;
    }

    #threelargeLightBoxImg {
        height: 381px;
    }

    #eightlargeLightBoxImg {
        height: 431px;
    }

    #tenlargeLightBoxImg {
        height: 504px;
    }

    #elevenlargeLightBoxImg {
        height: 549px;
    }

    #oneClose, #threeClose, #sixClose, #eightClose, #tenClose, #elevenClose {
        padding-right: 49px;
    }

    #twolargeLightBoxImg {
        width: 520px;
    }

    #fourlargeLightBoxImg {
        width: 573px;
    }

    #fivelargeLightBoxImg, #sevenlargeLightBoxImg, #twelevelargeLightBoxImg {
        width: 597px;
    }

    #ninelargeLightBoxImg {
        width: 537px;
    }

    #twolargeLightBoxImg, #fourlargeLightBoxImg, #fivelargeLightBoxImg, #sevenlargeLightBoxImg, 
    #ninelargeLightBoxImg, #twelevelargeLightBoxImg, #thirteenlargeLightBoxImg, 
    #fourteenlargeLightBoxImg, #fifteenlargeLightBoxImg {
        height: 712px;
    }

    #twoClose {
        padding-right: 124px;
    }

    #fourClose {
        padding-right: 97px;
    }

    #fiveClose, #sevenClose, #tweleveClose {
        padding-right: 85px;
    }

    #nineClose {
        padding-right: 115px;
    }

    #thirteenClose, #fourteenClose {
        padding-right: 129px;
    }

    #thirteenlargeLightBoxImg, #fourteenlargeLightBoxImg {
        width: 509px;
    }

    #fifteenlargeLightBoxImg {
        width: 585px;
    }

    #fifteenClose {
        padding-right: 91px;
    }
  }

  @media (min-width: 1024px) {
    #galleryContainer #one, #galleryContainer #two, #galleryContainer #three, #galleryContainer #four {
        position: static;
    }

    #galleryContainer #five, #galleryContainer #eight {
        bottom: 357px;
    }

    #galleryContainer #six {
        bottom: 207px;
    }

    #galleryContainer #seven {
        bottom: 322px;
    }

    #galleryContainer #nine {
        bottom: 724px;
    }

    #galleryContainer #ten {
        bottom: 634px;
    }

    #galleryContainer #eleven {
        bottom: 814px;
    }

    #galleryContainer #tweleve {
        bottom: 529px;
    }

    #galleryContainer #thirteen {
        bottom: 1010px;
    }

    #galleryContainer #fourteen {
        bottom: 940px;
    }

    #galleryContainer #fifteen {
        bottom: 905px;
        left: 0;
    }
  }

  @media (min-width: 1440px) {

    #galleryContainer, #profileContainer {
        padding-left: 40px;
        padding-right: 40px;
    }

    #galleryContainer {
        flex-direction: column;
        height: 1477px;
    }
    .galleryCard {
        width: 310px;
        margin-left: 0px;
    }

    #galleryContainer #five, #galleryContainer #eight {
        bottom: 390px;
    }

    #galleryContainer #six {
        bottom: 240px;
    }

    #galleryContainer #seven {
        bottom: 354px;
    }

    #galleryContainer #nine {
        bottom: 790px;
    }

    #galleryContainer #ten {
        bottom: 700px;
    }

    #galleryContainer #eleven {
        bottom: 880px;
    }

    #galleryContainer #tweleve {
        
        bottom: 1095px;
        margin-bottom: 0;
    }

    #galleryContainer #thirteen {
        bottom: 1165px;
        margin-bottom: 0;
    }

    #galleryContainer #fourteen {
        bottom: 596px;
        margin-bottom: 0;
    }

    #galleryContainer #fifteen {
        bottom: 1174px;
        left: 350px;
        margin-bottom: 0;
    }

    #two {
        order: 5;
    }

    #three {
        order: 9;
    }

    #four {
        order: 12;
    }

    #five {
        order: 2;
    }

    #seven {
        order: 10;
    }

    #eight {
        order: 13;
    }

    #nine {
        order: 3;
    }

    #ten {
        order: 7;
    }

    #eleven {
        order: 14;
    }

    #tweleve {
        order: 4;
    }

    #thirteen {
        order: 8;
    }

    #fourteen {
        order: 11;
    }

    .galleryCard {
        margin-left: 40px;
    }

    #one, #five, #nine, #tweleve {
        margin-left: 0px;
    }

    #onelargeLightBoxImg {
        width: 917px;
    }

    #threelargeLightBoxImg {
        width: 1253px;
    }

    #sixlargeLightBoxImg {
        width: 809px;
    }

    #eightlargeLightBoxImg {
        width: 1107px;
    }

    #tenlargeLightBoxImg {
        width: 947px;
    }

    #elevenlargeLightBoxImg {
        width: 869px;
    }


    #onelargeLightBoxImg, #threelargeLightBoxImg, #sixlargeLightBoxImg, #eightlargeLightBoxImg, #tenlargeLightBoxImg,
    #elevenlargeLightBoxImg {
        height: 712px;
    }

    #oneClose {
        padding-right: 262px;
    }

    #twoClose, #nineClose {
        padding-right: 460px;
    }

    #threeClose {
        padding-right: 94px;
    }

    #fourClose {
        padding-right: 437px;
    }

    #fiveClose, #sevenClose, #tweleveClose {
        padding-right: 423px;
    }

    #sixClose {
        padding-right: 315px;
    }

    #eightClose {
        padding-right: 167px;
    }

    #tenClose {
        padding-right: 250px;
    }

    #elevenClose {
        padding-right: 288px;
    }

    #thirteenClose, #fourteenClose {
        padding-right: 466px;
    }

    #fifteenClose {
        padding-right: 430px;
    }
  }